<style type="text/css">
    .debit{
      color: red;
    }
    .credit{
      color: blue;
    }
    .datetime{
      color: black
    }

</style>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Meus ultimos extratos</h1>
      <p class="lead" data-ng-if="vm.isLoggedIn()">Esses são seus últimos extratos</p>
  </div>
</header>

<div class="container" data-ng-if="vm.isLoggedIn()">
  <div class="row">
      <div class="col-md-6">
          <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Data</th>
              <th>Valores</th>
            </tr>
          </thead>
          <tbody>
             <tr data-ng-repeat="transaction in vm.transactions">
                
                <td class="datetime">{{transaction.createdAt | date: 'dd/MM/yyyy  HH:mm'}}</td>
                <td class="valor" data-ng-class="{
              'credit': (transaction.operation == 'credit'),
              'debit': (transaction.operation == 'debit')
            }" >{{transaction.value |  currency : 'R$' : 2}}</td>

            </tr>
          </tbody>
           
      </table> 


      </div>
  
  </div>
</div>
