<style type="text/css">
    .debit{
      font-size: 20px;
      font-family: Arial;
      color: red;
    }
    .credit{
      font-size: 20px;
      font-family: Arial;
      color: blue;
    }

</style>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Meus ultimos extratos</h1>
      <p class="lead" data-ng-if="vm.isLoggedIn()">Esses são seus últimos extratos</p>
  </div>
</header>

<div class="container" data-ng-if="vm.isLoggedIn()">
  <div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12" data-ng-repeat="transaction in vm.transactions">
        <span data-ng-class="{
          'glyphicon glyphicon-plus': (transaction.operation == 'credit'),
          'glyphicon glyphicon-minus': (transaction.operation == 'debit'),
          'credit': (transaction.operation == 'credit'),
          'debit': (transaction.operation == 'debit')
        }">{{transaction.value |  currency : 'R$' : 2}} </span>
    </div>
  </div>
</div>
